<footer id="foo">
    <link rel="stylesheet" href="script.js" />
    <link rel="stylesheet" href="styles.css" />
    <script defer src="script.js"></script>
<hr>
    <a class="footer" href="/Home">Home</a>
    <a class="footer" target="_blank" href="/contactUs">Contact us</a>
    <a class="footer" target="_blank" href="/aboutUs">About us</a>
    <a class="footer" id="color">Change color</a>
    <a class="footer" id="big-size">Size</a>
    <a class="footer" href="/Calculator">Calculator</a>

<div id="clockStyle">
    <p> Copyright 2022, All rights reserved | SELL&nbsp;4&nbsp;SELL</p>
    <h5> Prepared by Alaa </h5>

    <div>

    <div id="clockDisplay"></div>

     </div>
    </div>
    </footer>