<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>header</title>
  <link rel="stylesheet" href="styles.css"/>
  <script defer src="script.js"></script>
  <script src="https://kit.fontawesome.com/8e17e598b1.js" crossorigin="anonymous"></script>
  

</head>
<body>
  
</body>
</html>

<header>

    <h1 class="topic">SELL&nbsp;4&nbsp;SELL</h1>
      
      <!-- <div class="logo">
        <img width="80"src="images/logo.jpg" alt="logo"/>
      </div> -->

    <nav>
      <ul class="pages-header">
        <a class="links-header" href="/home">Home</a>
        <a target="_blank" class="links-header" href="/aboutUs">About us</a>
        <a target="_blank" class="links-header" href="/Electronics">Electronics</a>
        <a target="_blank" class="links-header" href="/contactUs">Contact us</a>
        <a target="_blank" class="links-header fa-solid fa-cart-shopping" href="/MyCart">My Cart</a>
     
      
      </ul>
    </nav>
  </header>