<!DOCTYPE html>
<html lang="en" class="allpag">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Electronics</title>
    
    <link rel="stylesheet" href="script.js" />
    <link rel="stylesheet" href="styles.css" />
    <script defer src="script.js"></script>
</head>
<body id="body-page">

    <!-- header -->
  
    <%- include('./partials/header'); %>
  
     




    <form id="form-timer"></form>
</body>
<!-- footer -->
<%- include(`./partials/footer`); %>
</html>